canvas {
    position: absolute;
    left: 42%;
    top: 300px;
    border-radius: 5px;
}

#canvas {
    z-index: 0;
}

#canvas1 {
    z-index: 1000;
    background-color: none;
}

.level {
    width: 5%;
    margin-left: 47.5%;
}

.level p {
    display: inline-block;
}

.card {
    top: 0px;
    color: white;
    text-align: center;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    z-index: 2000;
}

.card h2 {
    background-color: black;
    font-size: 35px;
}

.card p {
    font-size: 25px;
}

.escape {
    display: inline-block;
    color: white;
    background-color: red;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    padding-top: 10px;
}

.escape:hover {
    cursor: pointer;
}

.timer {
    width: 15%;
    margin-left: 42%;
    background-color: yellow;
    margin-top: 20px;
    padding: 10px;
    padding-bottom: 5px;
    border-radius: 10px;
}

body {
    text-align: center;
}

body button {
    margin-top: 5px;
    margin-left: 5%;
}

.timer p {
    display: inline-block;
}

#timer_start {
    margin: 30px;
    margin-left: 40px;
}

body {
    background-color: cyan;
}